﻿/*** Reset ***/

/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, input {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*** Basic Elements ***/

.backstretch {
	left: 0px;
    top: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 695px;
    width: 1344px;
    z-index: -999999;
    position: fixed;
}

body {
	background: url(../img/background.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

	/*background: url(../img/background.jpg) repeat;*/
	color: #5a5a5a;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 12px;
}

p {
	line-height: 20px;
	margin-bottom: 15px;
}

h1 {
	font-size: 26px;
	font-weight: normal;
	line-height: 20px;
	margin-bottom: 18px;
}

h2 {
	font-size: 22px;
	font-weight: normal;
	line-height: 20px;
	margin-bottom: 18px;
}

h3 {
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 16px;
}

/*** Generic Classes ***/

.left {
	float: left;
	text-align: left;
	width: auto;
}

.right {
	float: right;
	text-align: right;
	width: auto;
}

.center {
	text-align: center;
}

.clearfix {
	clear: both;
	padding-bottom: 12px;
}

.hidden, .hide {
	display: none;
}

.red {
	color: red;
}

.green {
	color: green;
}

del {
	font-style: italic;
	text-decoration: line-through;
}

ins {
	color: red;
}

.noscript {
	color: red;
	font-weight: bold;
}

.topDivider {
	color: #d1d0d0;
	font-size: 12px;
	padding: 0 3px 0 3px;
}

.navDivider {
	color: #FBEFD2;
}

.itemNew {
	height: 50px;
	margin-left: -50px;
	position: absolute;
	width: 50px;
}

.titleItems {
	font-weight: bold;
}

/*** Buttons ***/

.shoppingBag {
	background: url(../img/buttons.png) no-repeat;
	background-position: -10px -10px;
	display: block;
	float: left;
	height: 29px;
	margin: -9px 4px 0 0;
	overflow: hidden;
	text-indent: -9999px;
	text-transform: capitalize;
	width: 126px;
}
.shoppingBag:hover {
	background: url(../img/buttons.png) no-repeat;
	background-position: -10px -39px;
	cursor: pointer;
}

.checkout {
	background: url(../img/buttons.png) no-repeat;
	background-position: -146px -10px;
	display: block;
	float: left;
	height: 29px;
	margin: -9px 0 0 0;
	overflow: hidden;
	text-indent: -9999px;
	width: 84px;
}
.checkout:hover {
	background: url(../img/buttons.png) no-repeat;
	background-position: -146px -39px;
	cursor: pointer;
}

.pageUp {
	background: url(../img/buttons.png) no-repeat;
	background-position: -354px -10px;
	display: block;
	float: left;
	height: 29px;
	overflow: hidden;
	text-indent: -9999px;
	width: 28px;
}
.pageUp:hover {
	background: url(../img/buttons.png) no-repeat;
	background-position: -354px -39px;
	cursor: pointer;
}

.pageDown {
	background: url(../img/buttons.png) no-repeat;
	background-position: -316px -10px;
	display: block;
	float: left;
	height: 29px;
	overflow: hidden;
	text-indent: -9999px;
	width: 28px;
}
.pageDown:hover {
	background: url(../img/buttons.png) no-repeat;
	background-position: -316px -39px;
	cursor: pointer;
}

.buttonAddToShoppingBag {
	background: url(../img/buttons.png) no-repeat;
	background-position: -10px -107px;
	display: block;
	float: left;
	height: 40px;
	margin-top: 20px;
	overflow: hidden;
	text-indent: -9999px;
	text-transform: capitalize;
	width: 230px;
}
.buttonAddToShoppingBag:hover {
	background: url(../img/buttons.png) no-repeat;
	background-position: -10px -147px;
	cursor: pointer;
}

.buttonProceedToCheckout {
	background: url(../img/buttons.png) no-repeat;
	background-position: -250px -107px;
	display: block;
	float: left;
	height: 40px;
	margin: -10px 12px -10px  0;
	margin-left: 10px;
	overflow: hidden;
	text-indent: -9999px;
	text-transform: capitalize;
	width: 218px;
}
.buttonProceedToCheckout:hover {
	background: url(../img/buttons.png) no-repeat;
	background-position: -250px -147px;
	cursor: pointer;
}

.buttonRemove {
	background: url(../img/buttons.png) no-repeat;
	background-position: -392px -10px;
	display: block;
	float: left;
	height: 29px;
	margin: -7px 12px 0 0;
	overflow: hidden;
	text-indent: -9999px;
	width: 86px;
}
.buttonRemove:hover {
	background: url(../img/buttons.png) no-repeat;
	background-position: -392px -39px;
	cursor: pointer;
}

.buttonUpdate {
	background: url(../img/buttons.png) no-repeat;
	background-position: -478px -109px;
	display: block;
	float: left;
	height: 29px;
	margin: -10px 0 0 12px;
	overflow: hidden;
	text-indent: -9999px;
	text-transform: capitalize;
	width: 72px;
}
.buttonUpdate:hover {
	background: url(../img/buttons.png) no-repeat;
	background-position: -478px -138px;
	cursor: pointer;
}

.buttonEmpty {
	background: url(../img/buttons.png) no-repeat;
	background-position: -487px -10px;
	display: block;
	float: left;
	height: 29px;
	margin: -10px 0 0 4px;
	overflow: hidden;
	text-indent: -9999px;
	text-transform: capitalize;
	width: 64px;
}
.buttonEmpty:hover {
	background: url(../img/buttons.png) no-repeat;
	background-position: -487px -39px;
	cursor: pointer;
}

/*** Basic Layout ***/

.container {
	background: #fff;
	margin: 0 auto;
	overflow: hidden;
	padding: 35px 20px 35px 20px;	
	border-radius: 5px; /* General */
	-khtml-border-radius: 5px; /* Linux */
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
}

#header {
	padding: 0 20px 0 20px;
}

#footer {
	background: #F1CC66;
	color: #FBEFD2;
	font-family: Tahoma, serif;
	font-size: 11px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 30px 20px 30px 20px;	
	border-radius: 5px; /* General */
	-moz-border-radius: 5px; /* Firefox */
	-khtml-border-radius: 5px; /* Linux */
	-webkit-border-radius: 5px; /* Safari, Chrome */
}

#footer p {
	margin-bottom: 0;
}

/*** Header ***/
#header h1 a {
	background: url(../img/logo.png) no-repeat;
	display: block;
	height: 75px;
    margin: 0 0 30px 0;
    text-indent: -9999px;
    width: 215px;
}

#details {
	float: right;
	font-size: 11px;
	margin-top: -48px;
	width: auto;
}

.details {
	float: left;
	padding-right: 8px;
	width: auto;
}

/*** Content ***/

#categoriesBar {
	background-color: #F1CC66;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
    background-position: 0 0;
	color: #ffffff;
	font-size: 16px;
	padding: 10px 20px;
}

#categoriesBar > .row, #pagePanelBottom > .row {
	display: flex;
    align-items: center;
    justify-content: center;
}

#categoriesBar li {
	display: inline;
}

#categoriesBar a {
	color: #FFF !important;
    font-weight: normal;
    text-decoration: none;
    background-color: #F1CC66;
    padding: 5px 5px;
    white-space: nowrap;
    border: 1px #FFF solid;
    border-radius: 5px;
    line-height: 35px;
    font-size: 12px;
}

#categoriesBar a:hover {
	color: #F1CC66 !important;
	background-color: #FFF;
	border: 1px #FFF solid;
	font-weight: normal;
	text-decoration: none;
}

#categoriesBar #categories a:focus {
	color: #F1CC66;
	text-decoration: none;
}

#categoriesBar a.active {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

#loader {
	float: left;
	height: 16px;
	margin: -14px 0 0 35px;
	width: 16px;
}

input#searchBox {
	background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 0;
    color: #959595;
    float: right;
    font-size: 11px;
    height: 30px;
	padding: 1px 15px 5px 22px;
	width: 100%;
}

#pagePanelTop {
	color: #5a5a5a;
	font-size: 15px;
    margin: 20px 0 10px 0;
}

#pagePanelBottom {
	color: #5a5a5a;
	font-size: 15px;
}

.pageButtons {
	float: right;
	margin-top: -6px;
	width: auto;
}

.pageButtons span.text {
	float: left;
	padding: 6px 7px 0 7px;
	width: auto;
}

.qp_counter {
	float: left;
	padding: 6px 7px 0 7px;
	width: auto;
}

.qp_pagenumber, .qp_totalnumber {
	font-weight: bold;
}

#main {
	overflow: hidden;
	padding: 40px 20px 10px 20px;
}

/*** Footer ***/

#footer #navigation {
	float: left;
	width: 350px;
}

#footer #rssFeed {
	color: #ffffff;
	float: left;
	margin-top: -2px;
	text-align: center;
	width: 180px;
}

#footer .rssIcon {
	margin: 0 2px 2px 0;
	vertical-align: middle;
}

#footer #copyright {
	float: right;
	margin-top: -4px;
	width: 350px;
}

#footer li {
	display: inline;
}

#footer .navDivider {
	padding: 0 3px 0 3px;
}

#footer a:link, #footer a:visited {
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}

#footer a:hover {
	color: #FBEFD2;
	font-weight: normal;
	text-decoration: none;
}

#footer a.active {
	color: #FBEFD2;
	font-weight: bold;
	text-decoration: none;
}

/** Home Page **/

#items {
	margin: 0 auto;
	overflow: hidden;
	width: 100%;;
}

#home .item {
	float: left;
	display: inline;
	height: 300px;
	margin: 0 13px;
	overflow: hidden;
	width: 200px;
}

#home .itemImage {
	border: 1px #BBBBBB solid;
	margin-bottom: 12px;
	overflow: hidden;
}

#home .zoomImage {
	margin: 1px 0 0 1px;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
	position: absolute;
}

#home .itemName {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0;
}

#home .itemPrice {
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	line-height: 17px;
	margin-bottom: 0px;
}

/** Item Page **/

.gallery {
	margin: 0 auto;
	margin: 0 -10px;
	overflow: hidden;
	width: 960px;
}

.gallery .gallery {
	margin: 0 -4px;
	display: inline-block;
	width: auto;
}

#itemImage {
	float: left;
	display: inline;
	margin: 0 10px;
	overflow: hidden;
	width: 420px;
}

#itemImage img.bigImage {
	border: 1px #BBBBBB solid;
	height: 418px;
	width: 418px;
}

#itemImage li.thumb {
	cursor: pointer;
	display: inline; 
	float: left;
	height: 96px;
	margin: 0 5.5px;
	margin-top: 12px;
	overflow: hidden;
	width: 96px;
}

#itemImage li.thumb a img {
	border: 1px #BBBBBB solid;
	height: 94px;
	width: 94px;
}

#itemImage li.thumb a.activeSlide {
	border: 1px solid #789F2A;
	height: 94px;
	width: 94px;
}

#itemImage li.thumb a.activeSlide img {
	border: 1px solid #789F2A;
	margin: 0 0 0 -1px;
	height: 94px;
	width: 94px;
}

#itemDetails {
	float: left;
	display: inline;
	margin: 0 10px;
	overflow: hidden;
	padding-left: 20px;
	width: 420px;
}

#item h2.itemName {
	font-size: 22px;
	font-weight: normal;
	line-height: 25px;
	margin-bottom: 1px;
}

#item .itemPrice {
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 15px;
}

/** Shopping Bag **/

#shoppingBag h2 {
	font-size: 22px;
	font-weight: normal;
	line-height: 25px;
	margin-bottom: 20px;
}

.buttonLess {
	background: url(../img/buttons.png) no-repeat;
	background-position: -240px -10px;
	display: block;
	height: 29px;
	margin: -7px 0 0 4px;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
	width: 28px;
}
.buttonLess:hover {
	background: url(../img/buttons.png) no-repeat;
	background-position: -240px -39px;
	cursor: pointer;
}

.buttonMore {
	background: url(../img/buttons.png) no-repeat;
	background-position: -278px -10px;
	display: block;
	height: 29px;
	margin: -7px 0 0 65px;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
	width: 28px;
}
.buttonMore:hover {
	background: url(../img/buttons.png) no-repeat;
	background-position: -278px -39px;
	cursor: pointer;
}

.buttonLess_disable {
	background: url(../img/buttons.png) no-repeat;
	background-position: -240px -68px;
	display: block;
	height: 29px;
	margin: -7px 0 0 4px;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
	width: 28px;
}

.buttonMore_disable {
	background: url(../img/buttons.png) no-repeat;
	background-position: -278px -68px;
	display: block;
	height: 29px;
	margin: -7px 0 0 65px;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
	width: 28px;
}

.buttonLess_disable:hover, .buttonMore_disable:hover {
	cursor: default;
}

.itemTotal { font-weight: bold; }
.totalPrice { padding: 20px 0 20px 11px; }
.costBeforeShipping { padding: 0 49px 0 0; }
.continueShopping { padding: 2px 0 0 0; }

span.empty { font-size: 16px; text-align: center; }

/*** jCart ***/

#jcart table {
	border-collapse: collapse;
	width: 100%;
}

#jcart th {
	background-color: #f2f2f2;
	border-bottom: 1px solid #dadada;
	color: #878787;
	font-size: 11px;
	font-weight: normal;
	padding: 5px 0 4px 0;
	text-align: center;
}

#jcart tr {
	border-bottom: 1px solid #dadada;
}

#jcart tfoot td {
	font-size: 16px;
	padding: 20px 0 20px 0;
	vertical-align: top;
}

#jcart tbody td {
	font-size: 14px;
	padding: 34px 0 10px 0;
	text-align: center;
	vertical-align: top;
}
	
#jcart td.thumb { padding: 12px 10px 10px 0; }
#jcart td.thumb img { border: 1px #BBBBBB solid; }
#jcart tr.noBorder {border: 0; }
#jcart td.left { text-align: left; }
#jcart tr .floatRight {float: right; }

#jcart thead #thumbnail {
	width: 10%;
	border-top-left-radius: 4px; /* General */
	-khtml-border-radius-topleft: 4px; /* Linux */
	-moz-border-radius-topleft: 4px; /* Firefox */
	-webkit-border-radius-topleft: 4px; /* Safari, Chrome */
}
#jcart thead #itemName { text-align: left; width: 46%; }
#jcart thead #price { width: 11%; }
#jcart thead #quantity { width: 11%; }
#jcart thead #total { width: 11%; }
#jcart thead #remove {
	width: 11%;
	border-top-right-radius: 4px; /* General */
	-khtml-border-radius-topright: 4px; /* Linux */
	-moz-border-radius-topright: 4px; /* Firefox */
	-webkit-border-radius-topright: 4px; /* Safari, Chrome */
}

#jcart-tooltip { 
	background: url(../img/checkmark.png) 3px center no-repeat #F7F7F7;
	border: solid 1px #CCC;
	color: #717171;
	font-size: 12px;
	font-weight: bold;
	padding: 6px 6px 6px 25px;
	text-transform: capitalize;
	border-radius: 10px; /* General */
	-khtml-border-radius: 10px; /* Linux */
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */
}

#jcart p.jcart-error { color: red; }
#jcart input.quantity { 
	background-color: #f2f2f2;
	border: 1px solid #dadada;
	color: #878787;
	margin-top: -4px;
	padding: 1px 5px;
	text-align: center;
	width: 26px;
}
#jcart input.quantity:focus { 
	border: 1px solid #BFBFBF;
	color: #5A5A5A;
}

/*** Contact Form ***/

form {
	line-height: 20px;
}

label {
	display: block;
	margin: 1px 0 5px 0;
}

.formInput {
	background: #FFF url(../contact-form/img/field-bg-top.gif) repeat-x top left;
	border: 1px solid #BBB;
	color: #878787;
	display: block;
	font: 12px Tahoma,sans-serif;
	padding: 5px;
	width: 275px;

	border-radius: 2px; /* General */
	-khtml-border-radius: 2px; /* Linux */
	-moz-border-radius: 2px; /* Firefox */
	-webkit-border-radius: 2px; /* Safari, Chrome */
}
.formInput:hover {
	border: 1px solid #789F2A;
	background: #FFF url(../contact-form/img/field-bg-bottom.gif) repeat-x bottom left;
}
.formInput:focus {
	background: #FFF url(../contact-form/img/field-bg-bottom.gif) repeat-x bottom left;
	border: 1px solid #789F2A;
	color: #5A5A5A;
}

.formTextarea {
	background: #FFF url(../contact-form/img/field-bg-top.gif) repeat-x top left;
	border: 1px solid #BBB; 
	color: #878787;
	font: 12px Tahoma,sans-serif;
	max-width: 400px;
	padding: 5px;
	width: 400px;

	border-radius: 2px; /* General */
	-khtml-border-radius: 2px; /* Linux */
	-moz-border-radius: 2px; /* Firefox */
	-webkit-border-radius: 2px; /* Safari, Chrome */
}
.formTextarea:hover {
	background: #FFF url(../contact-form/img/field-bg-bottom.gif) repeat-x bottom left;
	border: 1px solid #789F2A;
}
.formTextarea:focus {
	background: #FFF url(../contact-form/img/field-bg-bottom.gif) repeat-x bottom left;
	border: 1px solid #789F2A;
	color: #5A5A5A;
}

.formButton {
	background: url(../contact-form/img/button-bg.gif) repeat-x; 
	border: 1px solid #ADADAD;
	border-left-color: #DFDFDF;
	border-top-color: #DFDFDF;
	color: #878787;
	cursor: pointer;
	font: 10px Tahoma,sans-serif;
	font-weight: bold;
	padding: 5px;
	text-transform: uppercase;
	width: 110px;
	
	border-radius: 10px; /* General */
	-khtml-border-radius: 10px; /* Linux */
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */
}
.formButton:hover {
	background: #FFF url(../contact-form/img/field-bg-bottom.gif) repeat-x bottom left;
	border: 1px solid #789F2A;
}
.formButton:focus {
	background: #FFF url(../contact-form/img/field-bg-bottom.gif) repeat-x bottom left;
	color: #5A5A5A;
}

.pagination>li>a, .pagination>li>span {
    color: #f5f5f5;
    background-color: #f1cc66;
}
.pagination>.active>a, .pagination>li>a:hover, .pagination>.active>a, .pagination>.active>a:hover {
    z-index: 2;
    color: #f1cc66;
    cursor: default;
    background-color: #ffffff;
    border-color: #f1cc66;
    cursor: pointer;
}

.quicksearch button.btn.btn-primary.search-btn {
	padding: 8px 12px 7px 12px;
}

input#searchBox {
    background-color: #FFF;
    border-radius: 5px 0px 0px 5px;
}

/*** Safari CSS Hack ***/
@media screen and (-webkit-min-device-pixel-ratio:0){
input#searchBox {padding: 1px 15px 1px 22px;}
body#home .itemNew {margin-left: -53px;}
}