.m-tl {
	background: url(../img/ie-corners.png) no-repeat;
	background-position: 0 0;
	height: 6px;
	margin: -35px 0 0 -20px;
	position: absolute; 
	width: 6px;
}
.m-tr {
	background: url(../img/ie-corners.png) no-repeat;
	background-position: -6px 0;
	height: 6px;
	margin: -35px 0 0 934px;
	position: absolute; 
	width: 6px;
}
.m-bl {
	background: url(../img/ie-corners.png) no-repeat;
	background-position: 0 -6px;
	height: 6px;
	margin: 29px 0 0 -20px;
	position: absolute; 
	width: 6px;
}
.m-br {
	background: url(../img/ie-corners.png) no-repeat;
	background-position: -6px -6px;
	height: 6px;
	margin: 29px 0 0 934px;
	position: absolute; 
	width: 6px;
}
.f-tl {
	background: url(../img/ie-corners.png) no-repeat;
	background-position: -12px 0;
	height: 6px;
	margin: -30px 0 0 -20px;
	position: absolute; 
	width: 6px;
}
.f-tr {
	background: url(../img/ie-corners.png) no-repeat;
	background-position: -18px 0;
	height: 6px;
	margin: -30px 0 0 934px;
	position: absolute; 
	width: 6px;
}
.f-bl {
	background: url(../img/ie-corners.png) no-repeat;
	background-position: -12px -6px;
	height: 6px;
	margin: 34px 0 0 -20px;
	position: absolute; 
	width: 6px;
}
.f-br {
	background: url(../img/ie-corners.png) no-repeat;
	background-position: -18px -6px;
	height: 6px;
	margin: 34px 0 0 934px;
	position: absolute; 
	width: 6px;
}

#home .itemNew {
	margin-left: -54px;
	position: absolute;
}

#item .itemNew {
	margin-left: -50px;
	position: absolute;
}

.clearBottom {
	height: 20px;
}

input#searchBox {
	padding: 9px 15px 5px 22px;
}
